
.container{
    padding: 15px;
color:#a80505;
text-align: center;
position: relative;
/* padding-bottom: 15vh; */
 /* height: 75vh;  */
/* border: 2px solid black; */
/* bottom: 10px; */
}

#file{
opacity: 0;
width: 0.1px;
height: 0.1px;
position: absolute;
}
.upload, button{
color: #fff;
background: #159;
padding: 5px;
border: 2px solid #159;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
}
form span{
font-size: 18px;
}
#preview{
color: rgb(255, 0, 0);
background-color: #159;
font-size: 16px;
text-decoration: none;
align-items: center;

/* margin-top: 1em;
margin-left: 2em; */
}
#result{
position:relative;
width: 60%;
/* margin-left: 10%; */
border: 2px solid #ddd;
border-radius: 12px;
margin-bottom: 2em;
margin-top: 6.5em;
}
header{
width: 100%;
background: #159;
}

.content{
width: 100%;
}
.content::after{
content: "";
display: flex;
clear: both;
}
.content img{
float: left;
width: 80px;
height: 105px;
margin-left: 7px;
margin-top: 12px;

}
.content ul{
width: 50%;
float: left;
padding-left: 15px;
}

ul li{
list-style-type: none;
}

#down{
font-size: 18px;
display: block;
margin-left: 60vw;
margin-bottom: 3vh;
align-items: center;
}
.show {
    font-size: 18px;
display: block;
margin-left: 60vw;
margin-bottom: 3vh;
align-items: center;

}

@media only screen and (max-width:750px) {
.container, form{
width: 90%;
margin-left: 5%;
}
#result{
margin-left: 0;
margin-right: 5%;
}
#down{
margin-right: 2em;
/* margin-bottom: 2em; */
}

} 
} 